Repository SSAF-SOUND/ssaf-sound-be, pull requests merged in 2023-09, with the labels that each got.

#244 refactor: recruit application matchstatus
  src/main/java/com/ssafy/ssafsound/SsafsoundApplication.java
  src/main/java/com/ssafy/ssafsound/domain/recruit/exception/RecruitErrorInfo.java
  src/main/java/com/ssafy/ssafsound/domain/recruitapplication/controller/RecruitApplicationController.java
  src/main/java/com/ssafy/ssafsound/domain/recruitapplication/domain/MatchStatus.java
  src/main/java/com/ssafy/ssafsound/domain/recruitapplication/repository/RecruitApplicationRepository.java
  src/main/java/com/ssafy/ssafsound/domain/recruitapplication/service/RecruitApplicationService.java
  src/main/resources/static/docs/index.html
  src/test/java/com/ssafy/ssafsound/domain/recruitapplication/controller/RecruitApplicationControllerTest.java
  src/test/java/com/ssafy/ssafsound/domain/recruitapplication/service/RecruitApplicationServiceTest.java
  src/test/java/com/ssafy/ssafsound/global/util/fixture/RecruitApplicationFixture.java
Labels: docs, fix, refactor

#243 refactor : 점심 조회 로직 수정, 점심 투표수 컬럼 추가에 따른 리팩토링
  src/main/java/com/ssafy/ssafsound/domain/lunch/domain/Lunch.java
  src/main/java/com/ssafy/ssafsound/domain/lunch/domain/LunchPoll.java
  src/main/java/com/ssafy/ssafsound/domain/lunch/dto/GetLunchListElementResDto.java
  src/main/java/com/ssafy/ssafsound/domain/lunch/dto/GetLunchListResDto.java
  src/main/java/com/ssafy/ssafsound/domain/lunch/dto/PostLunchPollResDto.java
  src/main/java/com/ssafy/ssafsound/domain/lunch/exception/LunchErrorInfo.java
  src/main/java/com/ssafy/ssafsound/domain/lunch/service/LunchPollService.java
  src/main/java/com/ssafy/ssafsound/domain/lunch/service/LunchService.java
  src/test/java/com/ssafy/ssafsound/domain/lunch/service/LunchServiceTest.java
  src/test/java/com/ssafy/ssafsound/global/util/fixture/LunchFixture.java
Labels: refactor

#240 test: Board 도메인 Service 단위 테스트 구현
  src/main/java/com/ssafy/ssafsound/domain/post/controller/PostController.java
  src/main/java/com/ssafy/ssafsound/domain/post/dto/PostPostReportReqDto.java
  src/main/java/com/ssafy/ssafsound/domain/post/service/PostService.java
  src/test/java/com/ssafy/ssafsound/domain/board/service/BoardServiceTest.java
  src/test/java/com/ssafy/ssafsound/global/util/fixture/BoardFixture.java
Labels: refactor, test

#248 feat: 마이프로필 및 리크루트 데이터포맷 수정
  src/main/java/com/ssafy/ssafsound/domain/recruit/controller/RecruitController.java
  src/main/java/com/ssafy/ssafsound/domain/recruit/dto/GetRecruitDetailResDto.java
  src/main/java/com/ssafy/ssafsound/domain/recruit/dto/GetRecruitsReqDto.java
  src/main/java/com/ssafy/ssafsound/domain/recruit/dto/GetRecruitsResDto.java
  src/main/java/com/ssafy/ssafsound/domain/recruit/dto/PostRecruitReqDto.java
  src/main/java/com/ssafy/ssafsound/domain/recruit/dto/RecruitElement.java
  src/main/java/com/ssafy/ssafsound/domain/recruit/repository/RecruitDynamicQueryRepository.java
  src/main/java/com/ssafy/ssafsound/domain/recruit/repository/RecruitDynamicQueryRepositoryImpl.java
  src/main/java/com/ssafy/ssafsound/domain/recruit/service/RecruitService.java
  src/main/java/com/ssafy/ssafsound/domain/recruitapplication/domain/MatchStatus.java
  src/main/java/com/ssafy/ssafsound/domain/recruitapplication/domain/RecruitApplication.java
  src/main/java/com/ssafy/ssafsound/domain/recruitapplication/dto/GetRecruitParticipantsResDto.java
  src/main/java/com/ssafy/ssafsound/domain/recruitapplication/dto/ParticipantElement.java
  src/main/java/com/ssafy/ssafsound/domain/recruitapplication/dto/PostRecruitApplicationReqDto.java
  src/main/java/com/ssafy/ssafsound/domain/recruitapplication/dto/RecruitApplicationElement.java
  src/main/java/com/ssafy/ssafsound/domain/recruitapplication/dto/RecruitParticipantElement.java
  src/main/java/com/ssafy/ssafsound/domain/recruitapplication/repository/RecruitApplicationRepository.java
  src/main/java/com/ssafy/ssafsound/domain/recruitapplication/service/RecruitApplicationService.java
  src/main/resources/static/docs/index.html
  src/test/java/com/ssafy/ssafsound/domain/recruit/controller/RecruitControllerTest.java
  src/test/java/com/ssafy/ssafsound/domain/recruit/service/RecruitServiceTest.java
  src/test/java/com/ssafy/ssafsound/domain/recruitapplication/controller/RecruitApplicationControllerTest.java
  src/test/java/com/ssafy/ssafsound/domain/recruitapplication/service/RecruitApplicationServiceTest.java
  src/test/java/com/ssafy/ssafsound/global/util/fixture/RecruitApplicationFixture.java
  src/test/java/com/ssafy/ssafsound/global/util/fixture/RecruitFixture.java
Labels: docs, fix, feature

#252 feat: Post 도메인 Service 단위 테스트
  src/main/java/com/ssafy/ssafsound/batch/config/PostBatchConfig.java
  src/main/java/com/ssafy/ssafsound/batch/tasklet/PostTasklet.java
  src/main/java/com/ssafy/ssafsound/domain/comment/domain/Comment.java
  src/main/java/com/ssafy/ssafsound/domain/comment/repository/CommentRepository.java
  src/main/java/com/ssafy/ssafsound/domain/comment/service/CommentService.java
  src/main/java/com/ssafy/ssafsound/domain/member/dto/AuthorElement.java
  src/main/java/com/ssafy/ssafsound/domain/post/domain/HotPost.java
  src/main/java/com/ssafy/ssafsound/domain/post/domain/PostLike.java
  src/main/java/com/ssafy/ssafsound/domain/post/domain/PostScrap.java
  src/main/java/com/ssafy/ssafsound/domain/post/dto/GetPostReqDto.java
  src/main/java/com/ssafy/ssafsound/domain/post/repository/HotPostRepository.java
  src/main/java/com/ssafy/ssafsound/domain/post/service/PostConstantProvider.java
  src/main/java/com/ssafy/ssafsound/domain/post/service/PostService.java
  src/main/java/com/ssafy/ssafsound/global/config/MagicNumberConfig.java
  src/test/java/com/ssafy/ssafsound/domain/post/service/PostServiceTest.java
Labels: fix, test

#255 docs: 리크루트 문서작업 일괄 추가
  src/docs/asciidoc/recruit.adoc
  src/docs/asciidoc/recruitApplication.adoc
  src/main/resources/static/docs/index.html
Labels: docs

#253 test: memberService 테스트 코드 리팩토링 및 ssafyInfo null 처리 추가
  src/main/java/com/ssafy/ssafsound/domain/auth/controller/AuthController.java
  src/main/java/com/ssafy/ssafsound/domain/member/dto/SSAFYInfo.java
  src/main/java/com/ssafy/ssafsound/domain/member/service/MemberService.java
  src/test/java/com/ssafy/ssafsound/domain/auth/controller/AuthControllerTest.java
  src/test/java/com/ssafy/ssafsound/domain/member/controller/MemberControllerTest.java
  src/test/java/com/ssafy/ssafsound/domain/member/service/MemberServiceTest.java
  src/test/java/com/ssafy/ssafsound/global/util/fixture/AuthFixture.java
  src/test/java/com/ssafy/ssafsound/global/util/fixture/CommentFixture.java
  src/test/java/com/ssafy/ssafsound/global/util/fixture/MemberFixture.java
  src/test/java/com/ssafy/ssafsound/global/util/fixture/PostFixture.java
  src/test/java/com/ssafy/ssafsound/global/util/fixture/RecruitApplicationFixture.java
  src/test/java/com/ssafy/ssafsound/global/util/fixture/RecruitCommentFixture.java
  src/test/java/com/ssafy/ssafsound/global/util/fixture/RecruitFixture.java
Labels: fix, refactor, test

#256 fix: reject recruit-application
  src/main/java/com/ssafy/ssafsound/domain/recruit/controller/RecruitController.java
  src/main/java/com/ssafy/ssafsound/domain/recruit/dto/GetRejectedRecruitApplicationsResDto.java
  src/main/java/com/ssafy/ssafsound/domain/recruit/dto/PostRecruitResDto.java
  src/main/java/com/ssafy/ssafsound/domain/recruit/service/RecruitService.java
  src/main/java/com/ssafy/ssafsound/domain/recruitapplication/controller/RecruitApplicationController.java
  src/main/java/com/ssafy/ssafsound/domain/recruitapplication/dto/GetRecruitApplicationsResDto.java
  src/main/java/com/ssafy/ssafsound/domain/recruitapplication/dto/RecruitApplicationResElement.java
  src/main/java/com/ssafy/ssafsound/domain/recruitapplication/service/RecruitApplicationService.java
  src/main/resources/static/docs/index.html
  src/test/java/com/ssafy/ssafsound/domain/post/service/PostServiceTest.java
  src/test/java/com/ssafy/ssafsound/domain/recruit/controller/RecruitControllerTest.java
  src/test/java/com/ssafy/ssafsound/domain/recruit/service/RecruitServiceTest.java
  src/test/java/com/ssafy/ssafsound/domain/recruitapplication/controller/RecruitApplicationControllerTest.java
  src/test/java/com/ssafy/ssafsound/global/util/fixture/RecruitApplicationFixture.java
  src/test/java/com/ssafy/ssafsound/global/util/fixture/RecruitFixture.java
Labels: docs, fix

#257 fix: 리크루트 디테일 조회 시 내가 쓴 글 여부 추가 및 목록 조회 전공자 여부 필드명 일괄 수정
  src/main/java/com/ssafy/ssafsound/domain/recruit/dto/GetRecruitDetailResDto.java
  src/main/java/com/ssafy/ssafsound/domain/recruit/dto/Participant.java
  src/main/java/com/ssafy/ssafsound/domain/recruit/service/RecruitService.java
  src/main/resources/static/docs/index.html
  src/test/java/com/ssafy/ssafsound/domain/recruit/controller/RecruitControllerTest.java
  src/test/java/com/ssafy/ssafsound/global/util/fixture/RecruitFixture.java
Labels: docs, fix

#259 hotfix: logout 요청 시 토큰 만료로 인한 비즈니스 로직 실패 케이스 수정
  src/main/java/com/ssafy/ssafsound/domain/auth/controller/AuthController.java
  src/main/java/com/ssafy/ssafsound/domain/auth/service/AuthService.java
  src/main/java/com/ssafy/ssafsound/domain/auth/service/token/JwtTokenProvider.java
  src/main/java/com/ssafy/ssafsound/domain/auth/validator/AuthenticationArgumentResolver.java
Labels: fix, refactor, hotfix
