Repository SSAF-SOUND/ssaf-sound-be, pull requests merged in 2023-08, with the labels that each got.

#177 feat: 리크루트 contactURI 컬럼 추가
  src/main/java/com/ssafy/ssafsound/domain/recruit/domain/Recruit.java
  src/main/java/com/ssafy/ssafsound/domain/recruit/dto/GetRecruitDetailResDto.java
  src/main/java/com/ssafy/ssafsound/domain/recruit/dto/PatchRecruitReqDto.java
  src/main/java/com/ssafy/ssafsound/domain/recruit/dto/PostRecruitReqDto.java
  src/test/java/com/ssafy/ssafsound/domain/recruit/dto/PostRecruitReqDtoTest.java
  src/test/java/com/ssafy/ssafsound/domain/recruit/service/RecruitServiceTest.java
Labels: feature, refactor

#175 refactor : 이미지 업로드 수정, 삭제 추가
  src/main/java/com/ssafy/ssafsound/global/advice/ExceptionControllerAdvice.java
  src/main/java/com/ssafy/ssafsound/infra/exception/InfraErrorInfo.java
  src/main/java/com/ssafy/ssafsound/infra/storage/controller/StorageController.java
  src/main/java/com/ssafy/ssafsound/infra/storage/dto/ImagePathDto.java
  src/main/java/com/ssafy/ssafsound/infra/storage/dto/PostStoreImageResDto.java
  src/main/java/com/ssafy/ssafsound/infra/storage/service/AwsS3PreSignerService.java
  src/main/java/com/ssafy/ssafsound/infra/storage/service/AwsS3StorageService.java
  src/main/java/com/ssafy/ssafsound/infra/storage/service/StorageService.java
Labels: feature, refactor

#173 refactor: member의 프로필 공개 여부에 따른 로직 리팩토링
  src/main/java/com/ssafy/ssafsound/domain/member/controller/MemberController.java
  src/main/java/com/ssafy/ssafsound/domain/member/domain/Member.java
  src/main/java/com/ssafy/ssafsound/domain/member/dto/GetMemberDefaultInfoResDto.java
  src/main/java/com/ssafy/ssafsound/domain/member/dto/GetMemberPortfolioResDto.java
  src/main/java/com/ssafy/ssafsound/domain/member/dto/GetMemberPublicProfileResDto.java
  src/main/java/com/ssafy/ssafsound/domain/member/dto/PatchMemberNicknameReqDto.java
  src/main/java/com/ssafy/ssafsound/domain/member/dto/PatchMemberPublicProfileReqDto.java
  src/main/java/com/ssafy/ssafsound/domain/member/dto/PutMemberPortfolioReqDto.java
  src/main/java/com/ssafy/ssafsound/domain/member/service/MemberService.java
  src/test/java/com/ssafy/ssafsound/domain/member/service/MemberServiceTest.java
Labels: feature, refactor, test

#179 fix : Lunch 테스트 실패 수정
  src/main/java/com/ssafy/ssafsound/domain/lunch/service/LunchPollService.java
  src/test/java/com/ssafy/ssafsound/domain/lunch/service/LunchPollServiceTest.java
Labels: fix

#180 test: Spring REST Docs 구현
  build.gradle
  src/docs/asciidoc/board.adoc
  src/docs/asciidoc/index.adoc
  src/main/java/com/ssafy/ssafsound/domain/board/dto/GetBoardResDto.java
  src/main/java/com/ssafy/ssafsound/domain/board/service/BoardService.java
  src/main/resources/static/docs/index.html
  src/test/java/com/ssafy/ssafsound/domain/board/controller/BoardControllerTest.java
  src/test/java/com/ssafy/ssafsound/global/config/RestDocsConfiguration.java
Labels: docs, test

#186 feat : LunchServiceTest 수정
  src/test/java/com/ssafy/ssafsound/domain/lunch/service/LunchServiceTest.java
Labels: fix

#187 fix: 익명 게시판 요청 & 응답 데이터 수정
  src/main/java/com/ssafy/ssafsound/domain/board/domain/Board.java
  src/main/java/com/ssafy/ssafsound/domain/board/dto/GetBoardElement.java
  src/main/java/com/ssafy/ssafsound/domain/chat/dto/ChatRoomElementDto.java
  src/main/java/com/ssafy/ssafsound/domain/comment/domain/Comment.java
  src/main/java/com/ssafy/ssafsound/domain/comment/dto/AuthorElement.java
  src/main/java/com/ssafy/ssafsound/domain/comment/dto/GetCommentElement.java
  src/main/java/com/ssafy/ssafsound/domain/comment/dto/PostCommentWriteReplyReqDto.java
  src/main/java/com/ssafy/ssafsound/domain/comment/dto/PostCommentWriteReqDto.java
  src/main/java/com/ssafy/ssafsound/domain/comment/dto/PutCommentUpdateReqDto.java
  src/main/java/com/ssafy/ssafsound/domain/comment/service/CommentService.java
  src/main/java/com/ssafy/ssafsound/domain/post/controller/PostController.java
  src/main/java/com/ssafy/ssafsound/domain/post/domain/Post.java
  src/main/java/com/ssafy/ssafsound/domain/post/dto/AuthorElement.java
  src/main/java/com/ssafy/ssafsound/domain/post/dto/GetPostDetailElement.java
  src/main/java/com/ssafy/ssafsound/domain/post/dto/GetPostDetailResDto.java
  src/main/java/com/ssafy/ssafsound/domain/post/dto/GetPostElement.java
  src/main/java/com/ssafy/ssafsound/domain/post/dto/GetPostHotElement.java
  src/main/java/com/ssafy/ssafsound/domain/post/dto/GetPostHotResDto.java
  src/main/java/com/ssafy/ssafsound/domain/post/dto/GetPostMyElement.java
  src/main/java/com/ssafy/ssafsound/domain/post/dto/GetPostMyResDto.java
  src/main/java/com/ssafy/ssafsound/domain/post/dto/GetPostResDto.java
  src/main/java/com/ssafy/ssafsound/domain/post/dto/PostPostLikeResDto.java
  src/main/java/com/ssafy/ssafsound/domain/post/dto/PostPostScrapResDto.java
  src/main/java/com/ssafy/ssafsound/domain/post/dto/PostPostWriteReqDto.java
  src/main/java/com/ssafy/ssafsound/domain/post/dto/PostPutUpdateReqDto.java
  src/main/java/com/ssafy/ssafsound/domain/post/repository/PostLikeRepository.java
  src/main/java/com/ssafy/ssafsound/domain/post/repository/PostRepository.java
  src/main/java/com/ssafy/ssafsound/domain/post/repository/PostScrapRepository.java
  src/main/java/com/ssafy/ssafsound/domain/post/service/PostService.java
  src/main/java/com/ssafy/ssafsound/infra/storage/service/AwsS3StorageService.java
Labels: fix, refactor

#189 test: 로그인 모킹을 위한 access-token 생성 로직 추가
  src/test/java/com/ssafy/ssafsound/utils/BaseRestDocControllerTest.java
Labels: test

#193 [TEST] Controller Test WebMvc Test 방식으로 리팩토링
  src/main/java/com/ssafy/ssafsound/SsafsoundApplication.java
  src/main/java/com/ssafy/ssafsound/batch/config/PostBatchConfig.java
  src/main/java/com/ssafy/ssafsound/global/config/JpaConfig.java
  src/test/java/com/ssafy/ssafsound/domain/auth/controller/AuthControllerTest.java
  src/test/java/com/ssafy/ssafsound/domain/board/controller/BoardControllerTest.java
  src/test/java/com/ssafy/ssafsound/domain/meta/controller/MetaDataControllerTest.java
  src/test/java/com/ssafy/ssafsound/global/docs/RestDocsConfiguration.java
  src/test/java/com/ssafy/ssafsound/global/docs/RestDocsTest.java
  src/test/java/com/ssafy/ssafsound/utils/BaseRestDocControllerTest.java
Labels: refactor, test

#195 [TEST] Rest Assured 도입
  .github/workflows/dev-CI.yml
  build.gradle
  src/main/java/com/ssafy/ssafsound/domain/auth/controller/AuthController.java
  src/main/java/com/ssafy/ssafsound/domain/auth/dto/CreateMemberReqDto.java
  src/main/java/com/ssafy/ssafsound/domain/auth/service/AuthService.java
  src/main/java/com/ssafy/ssafsound/global/interceptor/AuthInterceptor.java
  src/test/java/com/ssafy/ssafsound/domain/auth/controller/AuthControllerTest.java
  src/test/java/com/ssafy/ssafsound/domain/auth/fixture/AuthFixture.java
  src/test/java/com/ssafy/ssafsound/domain/board/controller/BoardControllerTest.java
  src/test/java/com/ssafy/ssafsound/domain/meta/controller/MetaDataControllerTest.java
  src/test/java/com/ssafy/ssafsound/global/docs/ControllerTest.java
  src/test/java/com/ssafy/ssafsound/global/docs/RestDocsConfiguration.java
  src/test/java/com/ssafy/ssafsound/global/docs/RestDocsTest.java
Labels: test

#196 [TEST] AuthControllerTest Rest Docs With Rest Assured
  build.gradle
  src/docs/asciidoc/auth.adoc
  src/docs/asciidoc/index.adoc
  src/test/java/com/ssafy/ssafsound/domain/auth/controller/AuthControllerTest.java
  src/test/java/com/ssafy/ssafsound/domain/auth/fixture/AuthFixture.java
  src/test/java/com/ssafy/ssafsound/domain/board/controller/BoardControllerTest.java
  src/test/java/com/ssafy/ssafsound/domain/meta/controller/MetaDataControllerTest.java
  src/test/java/com/ssafy/ssafsound/global/docs/ControllerTest.java
  src/test/java/com/ssafy/ssafsound/global/util/fixture/MemberFixture.java
Labels: docs, feature, chore, test

#199 [TEST][DOCS] LunchController Rest Docs & Test 추가 + CookieDescriptionSnippet 추가
  build.gradle
  src/docs/asciidoc/index.adoc
  src/docs/asciidoc/lunch.adoc
  src/main/java/com/ssafy/ssafsound/domain/lunch/controller/LunchController.java
  src/main/java/com/ssafy/ssafsound/domain/lunch/repository/LunchRepository.java
  src/main/resources/static/docs/index.html
  src/test/java/com/ssafy/ssafsound/domain/lunch/controller/LunchControllerTest.java
  src/test/java/com/ssafy/ssafsound/global/docs/ControllerTest.java
  src/test/java/com/ssafy/ssafsound/global/docs/snippet/CookieDescriptionSnippet.java
  src/test/java/com/ssafy/ssafsound/global/util/fixture/LunchFixture.java
  src/test/resources/org/springframework/restdocs/templates/asciidoctor/cookie.snippet
Labels: docs, test

#198 [TEST] MetaDataController Rest Docs With Rest Assured
  src/docs/asciidoc/metadata.adoc
  src/test/java/com/ssafy/ssafsound/domain/meta/controller/MetaControllerTest.java
  src/test/java/com/ssafy/ssafsound/domain/meta/fixture/ProductionMetaDataFixture.java
Labels: docs, test

#205 test: recruit rest docs 추가
  src/docs/asciidoc/index.adoc
  src/docs/asciidoc/recruit.adoc
  src/main/java/com/ssafy/ssafsound/domain/recruit/dto/GetRecruitsResDto.java
  src/main/java/com/ssafy/ssafsound/domain/recruit/dto/PatchRecruitReqDto.java
  src/test/java/com/ssafy/ssafsound/domain/meta/controller/MetaControllerTest.java
  src/test/java/com/ssafy/ssafsound/domain/meta/converter/BaseConverterTest.java
  src/test/java/com/ssafy/ssafsound/domain/meta/service/EnumMetaDataConsumerTest.java
  src/test/java/com/ssafy/ssafsound/domain/recruit/controller/RecruitControllerTest.java
  src/test/java/com/ssafy/ssafsound/global/docs/ControllerTest.java
  src/test/java/com/ssafy/ssafsound/global/util/fixture/MemberFixture.java
  src/test/java/com/ssafy/ssafsound/global/util/fixture/ProductionMetaDataFixture.java
  src/test/java/com/ssafy/ssafsound/global/util/fixture/ProductionMetaDataNameFixture.java
  src/test/java/com/ssafy/ssafsound/global/util/fixture/RecruitFixture.java
  src/test/java/com/ssafy/ssafsound/global/util/fixture/RecruitLimitFixture.java
  src/test/java/com/ssafy/ssafsound/global/util/fixture/TestMetaEnum.java
Labels: docs, test

#207 test: recruit application 컨트롤러 테스트 추가
  src/docs/asciidoc/index.adoc
  src/docs/asciidoc/recruitApplication.adoc
  src/main/java/com/ssafy/ssafsound/domain/recruitapplication/dto/RecruitApplicationElement.java
  src/main/java/com/ssafy/ssafsound/domain/recruitapplication/repository/RecruitApplicationRepository.java
  src/test/java/com/ssafy/ssafsound/domain/recruitapplication/controller/RecruitApplicationControllerTest.java
  src/test/java/com/ssafy/ssafsound/global/util/fixture/MemberFixture.java
  src/test/java/com/ssafy/ssafsound/global/util/fixture/RecruitApplicationFixture.java
  src/test/java/com/ssafy/ssafsound/global/util/fixture/RecruitFixture.java
Labels: docs, fix, test

#206 test: StorageController Test & Rest Docs
  src/docs/asciidoc/index.adoc
  src/docs/asciidoc/storage.adoc
  src/main/java/com/ssafy/ssafsound/infra/storage/controller/StorageController.java
  src/main/java/com/ssafy/ssafsound/infra/storage/dto/GetStorageUploadResDto.java
  src/main/java/com/ssafy/ssafsound/infra/storage/service/AwsS3StorageService.java
  src/main/resources/static/docs/index.html
  src/test/java/com/ssafy/ssafsound/global/util/fixture/LunchFixture.java
  src/test/java/com/ssafy/ssafsound/global/util/fixture/StorageFixture.java
  src/test/java/com/ssafy/ssafsound/infra/storage/controller/StorageControllerTest.java
Labels: docs, test

#208 test: recruit comment restdoc
  src/docs/asciidoc/index.adoc
  src/docs/asciidoc/recruitComment.adoc
  src/test/java/com/ssafy/ssafsound/domain/recruit/controller/RecruitControllerTest.java
  src/test/java/com/ssafy/ssafsound/domain/recruitapplication/controller/RecruitApplicationControllerTest.java
  src/test/java/com/ssafy/ssafsound/domain/recruitcomment/controller/RecruitCommentControllerTest.java
  src/test/java/com/ssafy/ssafsound/global/util/fixture/RecruitCommentFixture.java
Labels: docs, test

#219 refactor: recruit api response 수정
  src/main/java/com/ssafy/ssafsound/domain/comment/dto/AuthorElement.java
  src/main/java/com/ssafy/ssafsound/domain/comment/dto/GetCommentElement.java
  src/main/java/com/ssafy/ssafsound/domain/member/dto/AuthorElement.java
  src/main/java/com/ssafy/ssafsound/domain/post/dto/AuthorElement.java
  src/main/java/com/ssafy/ssafsound/domain/post/dto/GetPostDetailResDto.java
  src/main/java/com/ssafy/ssafsound/domain/recruit/dto/GetRecruitDetailResDto.java
  src/test/java/com/ssafy/ssafsound/domain/post/controller/PostControllerTest.java
  src/test/java/com/ssafy/ssafsound/domain/recruit/controller/RecruitControllerTest.java
  src/test/java/com/ssafy/ssafsound/domain/recruit/service/RecruitServiceTest.java
  src/test/java/com/ssafy/ssafsound/global/util/fixture/RecruitFixture.java
Labels: refactor

#212 feat: 멤버의 전공자 유무 및 전공트랙 수정 API 추가
  src/docs/asciidoc/member.adoc
  src/main/java/com/ssafy/ssafsound/domain/auth/controller/AuthController.java
  src/main/java/com/ssafy/ssafsound/domain/member/controller/MemberController.java
  src/main/java/com/ssafy/ssafsound/domain/member/domain/Member.java
  src/main/java/com/ssafy/ssafsound/domain/member/dto/PatchMemberMajorReqDto.java
  src/main/java/com/ssafy/ssafsound/domain/member/dto/PatchMemberMajorTrackReqDto.java
  src/main/java/com/ssafy/ssafsound/domain/member/exception/MemberErrorInfo.java
  src/main/java/com/ssafy/ssafsound/domain/member/service/MemberService.java
  src/main/resources/static/docs/index.html
  src/test/java/com/ssafy/ssafsound/domain/member/controller/MemberControllerTest.java
  src/test/java/com/ssafy/ssafsound/domain/member/service/MemberServiceTest.java
  src/test/java/com/ssafy/ssafsound/global/util/fixture/MemberFixture.java
Labels: feature, test

#222 refactor: 리크루트 참여신청 필드 리팩토링
  src/main/java/com/ssafy/ssafsound/domain/recruitapplication/dto/RecruitApplicationElement.java
  src/main/java/com/ssafy/ssafsound/domain/recruitapplication/repository/RecruitApplicationRepository.java
  src/test/java/com/ssafy/ssafsound/domain/recruitapplication/controller/RecruitApplicationControllerTest.java
  src/test/java/com/ssafy/ssafsound/domain/recruitapplication/service/RecruitApplicationServiceTest.java
  src/test/java/com/ssafy/ssafsound/global/util/fixture/RecruitApplicationFixture.java
Labels: refactor, test

#220 refactor : refactor get lunches
  src/docs/asciidoc/lunch.adoc
  src/main/java/com/ssafy/ssafsound/domain/lunch/controller/LunchController.java
  src/main/java/com/ssafy/ssafsound/domain/lunch/dto/GetLunchListElementResDto.java
  src/main/java/com/ssafy/ssafsound/domain/lunch/dto/GetLunchResDto.java
  src/main/java/com/ssafy/ssafsound/domain/lunch/repository/LunchRepository.java
  src/main/java/com/ssafy/ssafsound/domain/lunch/service/LunchService.java
  src/main/resources/static/docs/index.html
  src/test/java/com/ssafy/ssafsound/domain/lunch/controller/LunchControllerTest.java
  src/test/java/com/ssafy/ssafsound/domain/lunch/service/LunchServiceTest.java
  src/test/java/com/ssafy/ssafsound/global/util/fixture/LunchFixture.java
Labels: docs, refactor

#223 refactor: recruit update api response
  src/docs/asciidoc/recruitApplication.adoc
  src/main/java/com/ssafy/ssafsound/domain/recruit/dto/PatchRecruitApplicationStatusResDto.java
  src/main/java/com/ssafy/ssafsound/domain/recruit/dto/PostRecruitScrapCountResDto.java
  src/main/java/com/ssafy/ssafsound/domain/recruit/service/RecruitService.java
  src/main/java/com/ssafy/ssafsound/domain/recruitapplication/controller/RecruitApplicationController.java
  src/main/java/com/ssafy/ssafsound/domain/recruitapplication/service/RecruitApplicationService.java
  src/main/java/com/ssafy/ssafsound/domain/recruitcomment/controller/RecruitCommentController.java
  src/main/java/com/ssafy/ssafsound/domain/recruitcomment/dto/GetRecruitCommentsResDto.java
  src/main/java/com/ssafy/ssafsound/domain/recruitcomment/dto/PostRecruitApplicationLikeResDto.java
  src/main/java/com/ssafy/ssafsound/domain/recruitcomment/dto/PostRecruitCommentLikeResDto.java
  src/main/java/com/ssafy/ssafsound/domain/recruitcomment/dto/PostRecruitCommentResDto.java
  src/main/java/com/ssafy/ssafsound/domain/recruitcomment/dto/RecruitCommentElement.java
  src/main/java/com/ssafy/ssafsound/domain/recruitcomment/repository/RecruitCommentLikeRepository.java
  src/main/java/com/ssafy/ssafsound/domain/recruitcomment/service/RecruitCommentService.java
  src/test/java/com/ssafy/ssafsound/domain/recruit/controller/RecruitControllerTest.java
  src/test/java/com/ssafy/ssafsound/domain/recruitapplication/controller/RecruitApplicationControllerTest.java
  src/test/java/com/ssafy/ssafsound/domain/recruitcomment/controller/RecruitCommentControllerTest.java
  src/test/java/com/ssafy/ssafsound/domain/recruitcomment/service/RecruitCommentServiceTest.java
  src/test/java/com/ssafy/ssafsound/global/util/fixture/RecruitApplicationFixture.java
  src/test/java/com/ssafy/ssafsound/global/util/fixture/RecruitCommentFixture.java
  src/test/java/com/ssafy/ssafsound/global/util/fixture/RecruitFixture.java
Labels: docs, fix, refactor

#227 docs: recruit ascii docs
  src/docs/asciidoc/recruit.adoc
  src/docs/asciidoc/recruitComment.adoc
  src/main/resources/static/docs/index.html
Labels: docs

#229 fix : cicd 스크립트 수정
  .github/workflows/dev-CI.yml
  .github/workflows/dev-CICD.yml
  scripts/deploy.sh
  src/test/java/com/ssafy/ssafsound/SsafsoundApplicationTests.java
Labels: infra

#237 fix: 리크루트 에러 문구 오탈자 수정
  src/main/java/com/ssafy/ssafsound/domain/recruit/exception/RecruitErrorInfo.java
Labels: fix

#239 refactor: 리크루트 참여 단건 조회, 등록자 리쿠르트 신청자 조회 데이터 구조화 반영
  src/main/java/com/ssafy/ssafsound/domain/recruit/dto/GetRecruitDetailResDto.java
  src/main/java/com/ssafy/ssafsound/domain/recruitapplication/controller/RecruitApplicationController.java
  src/main/java/com/ssafy/ssafsound/domain/recruitapplication/dto/GetRecruitApplicationDetailResDto.java
  src/main/java/com/ssafy/ssafsound/domain/recruitapplication/dto/GetRecruitApplicationsResDto.java
  src/main/java/com/ssafy/ssafsound/domain/recruitapplication/dto/RecruitApplicationElement.java
  src/main/java/com/ssafy/ssafsound/domain/recruitapplication/service/RecruitApplicationService.java
  src/main/resources/static/docs/index.html
  src/test/java/com/ssafy/ssafsound/domain/recruit/controller/RecruitControllerTest.java
  src/test/java/com/ssafy/ssafsound/domain/recruit/service/RecruitServiceTest.java
  src/test/java/com/ssafy/ssafsound/domain/recruitapplication/controller/RecruitApplicationControllerTest.java
  src/test/java/com/ssafy/ssafsound/global/util/fixture/RecruitApplicationFixture.java
  src/test/java/com/ssafy/ssafsound/global/util/fixture/RecruitFixture.java
Labels: fix, refactor

#235 feat : 신고 api, 테스트, rest docs 추가
  src/docs/asciidoc/index.adoc
  src/docs/asciidoc/report.adoc
  src/main/java/com/ssafy/ssafsound/domain/meta/domain/SourceType.java
  src/main/java/com/ssafy/ssafsound/domain/meta/validator/CheckReportable.java
  src/main/java/com/ssafy/ssafsound/domain/meta/validator/ReportableValidator.java
  src/main/java/com/ssafy/ssafsound/domain/post/repository/PostRepository.java
  src/main/java/com/ssafy/ssafsound/domain/recruit/exception/RecruitErrorInfo.java
  src/main/java/com/ssafy/ssafsound/global/advice/ExceptionControllerAdvice.java
  src/main/java/com/ssafy/ssafsound/global/report/controller/ReportController.java
  src/main/java/com/ssafy/ssafsound/global/report/domain/Report.java
  src/main/java/com/ssafy/ssafsound/global/report/domain/ReportReason.java
  src/main/java/com/ssafy/ssafsound/global/report/dto/PostReportReqDto.java
  src/main/java/com/ssafy/ssafsound/global/report/exception/ReportErrorInfo.java
  src/main/java/com/ssafy/ssafsound/global/report/exception/ReportException.java
  src/main/java/com/ssafy/ssafsound/global/report/repository/ReportReasonRepository.java
  src/main/java/com/ssafy/ssafsound/global/report/repository/ReportRepository.java
  src/main/java/com/ssafy/ssafsound/global/report/service/ReportService.java
  src/main/resources/static/docs/index.html
  src/test/java/com/ssafy/ssafsound/domain/board/controller/BoardControllerTest.java
  src/test/java/com/ssafy/ssafsound/global/docs/ControllerTest.java
  src/test/java/com/ssafy/ssafsound/global/report/controller/ReportControllerTest.java
  src/test/java/com/ssafy/ssafsound/global/report/service/ReportServiceTest.java
  src/test/java/com/ssafy/ssafsound/global/util/fixture/CommentFixture.java
  src/test/java/com/ssafy/ssafsound/global/util/fixture/ReportFixture.java
Labels: docs, feature, test
